* {
  box-sizing: border-box;
}
.App {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
.ms-Suggestions-container::-webkit-scrollbar {
  background-color: transparent;
  cursor: pointer;
}
.ms-Suggestions-container::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border-radius: 10px;
  background-clip: content-box;
  border: solid 6px transparent;
}
.ms-Suggestions-container::-webkit-scrollbar-thumb:hover {
  background: #98a3a6;
  background-clip: content-box;
  border: solid 6px transparent;
}
html,
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
